<div class="row">
  <div class="col-auto">
    <h2 id="user" data-user="{{currentUser}}">Welcome, {{user.username}}!</h2>
  </div>
</div>
<div id="post-list">
  <ul>
    {{#each posts as |post|}}
    <div class="row mb-4 post display-flex">
      <div class="col-md-5 post-header">
        <h2 class="title" data-post="{{post.id}}">{{post.title}}</h2>
        <p>Created by {{post.user.username}} on {{format_date post.createdAt}}</p>
      </div>
      <div>
        <div class="contents">
          {{post.contents}}
        </div>
      </div>
      <button class="edit-button">Edit post</button>
    </div>
    {{/each}}
  </ul>
</div>
<div id="post-form" class="row mt-4 display-none">
  <div class="col-md-6">
    <h3 id="form-title">Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-contents">Contents:</label>
        <textarea class="form-input" id="post-contents" name="post-contents"></textarea>
      </div>
      <div class="form-group">
        <button id="post-submit" type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>
<div id="new-post-wrapper"><button id="new-post">New Post</button></div>
<script src="./js/dashboard.js"></script>