{{#each posts as |post| }}
<div class="row mb-4 post display-flex">
  <div class="col-md-5 post-header">
    <h2>{{post.title}}</h2>
    <p>Created by {{post.user.username}} on {{format_date post.createdAt}}</p>
  </div>
  <div>
    <div class="contents">
      {{post.contents}}
    </div>
  </div>
  <button class="show-comments">show comments</button>
  <div class="comments display-none">
    <h3>Comments</h3>
    {{#each post.comments as |comment|}}
    <div class=" comment">
      <div>{{contents}}</div>
      <div>-{{user.username}} on {{format_date createdAt}}</div>
    </div>
    {{/each}}
    {{#if logged_in}}
    <form class="new-comment" action="submit" data-post="{{post.id}}" data-user="{{currentUser}}">
      <textarea name=" content" id="comment" cols="30" rows="10" placeholder="Enter your comment"></textarea>
      <button type="submit">Submit</button>
    </form>
    {{/if}}
  </div>
</div>
{{/each}}
<script src="./js/home.js"></script>